printer_qr_service/printer_qr_service/__pycache__/wsgi.cpython-312.pyc
printer_qr_service/printer_qr_service/__pycache__/wsgi.cpython-312.pyc
printer_qr_service/printer_qr_service/__pycache__/wsgi.cpython-312.pyc
printer_qr_service/printer_qr_service/__pycache__/wsgi.cpython-312.pyc
